#MainMenu {
    visibility: hidden;
}

header {
    visibility: hidden;
    }

footer {
	visibility: hidden;
	}

footer:before {
    content:'Source & Method: IPCC';
    text-align: center;
    visibility: visible;
    display: block;
    position: relative;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    padding: 5px;
    top: 2px;
}